extends layout

block content
  h1= title
  p Welcome to #{title}
  p Description of the Event Hub: 
  p The Event Hub is a platform for managing and organizing events efficiently. It provides tools for event creation, registration, and attendee management.
  p Pages :
  p 1.Home Page : Overview of the event hub, showcasing upcoming events, highlights, and quick navigation links.
  p 2.Login Page : Allows registered users to log in with their credentials for personalized access.
  p 3.Sign-up Page : New users can create an account by providing basic details.
  p 4.Event List Page : Displays all available events with titles, dates, and categories.
  p 5.Event Details Page : Shows detailed information about a selected event (date, time, venue, description).
  p 6.Seat/Partition Selection Page : Lets users choose seats or partitions near the stage visually.
  p 7.Payment nd Summary Page : Displays selected seats, total cost, and payment method options.
  p 8.Payment Confirmation Page : Confirms successful payment with transaction details.
  p E-Pass Page : Generates and displays digital passes/tickets for users who completed payment.